@import-normalize;
@import "helper";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:after, *:before {
  box-sizing: border-box;
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit
}
body {
  font-family: $font-black;
  font-size: 14px;
  line-height: 1.2;
  background: #f5f5f5;
}
button, input {
  font: inherit;
}
:focus {
  outline: none;
}
.icon {
  height: 1em;
  width: 1em;
  display: inline-block;
}
.clearFix:after {
  content: '';
  display: block;
  clear: both
}
.one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* messageBox */
.message-box-wrapper {
  position: fixed;
  top: 10px;
  z-index: 2000;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  .message-item {
    padding: 10px 20px;
    border-radius: 2px;
    margin-bottom: 8px;
    font-size: 14px;
    background: #fff;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    .icon {
      height: 20px;
      width: 20px;
      margin-right: 10px;
    }
    span {
      display: inline-block;
      padding-top: 2px;
      flex: 1;
    }
    &.error {
      color: $red;
      .icon {
        fill: $red
      }
    }
    &.check {
      color: $green;
      .icon {
        fill: $green;
      }
    }
  }
}
